* {
	box-sizing: border-box;
}

body {
	margin: 15px;
	background-color: #e0e0e0;
}

.page-wrp {
	margin: auto;
	display: grid;
	grid-gap: 20px;
	max-width: 1200px;
	grid-template-columns: auto auto 30%;
}


/* Header part below: */
.header {
	display: grid;
	grid-column: 1 / 4;
	border-radius: 10px;
	background-color: #909090;
	grid-template-rows: 50px 50px;
	grid-template-columns: 200px auto 30%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.logo {
	width: 150px;
	height: 100px;
	grid-row: 1 / 3;
	border-radius: 10px;
	border: solid 1px #ffa500;
	background-image: url(resources/logo/logo.jpg);
}

.logo-2 {
	font-size: 30px;
	font-weight: 600;
	font-family: fantasy;
}

.logo-2 > a {
	color: #181818;
	text-decoration: none;
}

.logo-2 > a:hover {
	color: #ffa500;
	text-shadow: 1px 1px 2px black, 0 0 1em #ffa500;
}

.logo-2 > a:active {
	color: #ffa500;
	text-shadow: 1px 1px 2px black, 0 0 0;
}

.icons-wrp {
	display: grid;
	padding: 10px;
	grid-row: 1 / 2;
	grid-column: 3 / 4;
	grid-template-columns: auto 30%;
}

.icons-wrp > .icons {
	grid-column: 1 / 2;
	align-self: center;
}

.icons-wrp > button {
	align-self: center;
	grid-column: 2 / 3;
}

.btn {
	outline: none;
	border-radius: 5px;
	border: solid 1px black;
}

.btn:hover {
	border: solid 1px #ffa500;
	box-shadow: 0 9px 16px 0 rgba(0,0,0,0.1);
}

.btn:active {
	background-color: #ffa500;
	box-shadow: 0 0 0;
}

.menu-wrp {
	display: flex;
	grid-row: 2 / 3;
	grid-column: 2 / 4;
	justify-content: flex-end;
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-menu-item {
	float: left;
}

.nav-menu-item > a {
	font-size: 22px;
	color: black;
	padding: 5px 25px 5px 25px;
	display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.nav-menu-item > a:hover {
	color: #ffa500;
	background-color: #888888;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.nav-menu-item > a:active {
	box-shadow: 0 0 0;
	background-color: #808080;
}


/* Main part below: */
.main {
	display: flex;
	grid-column: 1 / 3;
	border-radius: 10px;
	flex-wrap: wrap;
	align-items: center;
	background-color: #909090;
	border: solid 1px #ffa500;
	justify-content: space-around;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card {
	opacity: .7;
	margin: 15px;
	width: 300px;
	height: 400px;
	display: grid;
	border-radius: 10px;
	border: 1px solid black;
	grid-template-columns: auto auto;
	grid-template-rows: 40px auto auto;
}

.card:hover {
	opacity: 1;
	border: 1px solid #ffa500;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.date {
	padding: 15px;
	color: #ffa500;
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	align-self: center;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.content {
	padding: 15px;
	color: #ffa500;
	grid-row: 3 / 4;
	align-self: end;
	grid-column: 1 / 3;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.card-dunkirk {
	background-image: url('resources/images/dunkirk.jpg');
}

.card-interstellar {
	background-image: url('resources/images/interstellar.jpg');
}

.card-inception {
	background-image: url('resources/images/inception.jpg');
}

.card-dark-knight {
	background-image: url('resources/images/dark-knight.jpg');
}

.card-prestige {
	background-image: url('resources/images/prestige.jpg');
}


/* Aside part below: */
.aside {
	padding: 15px;
	display: flex;
	grid-column: 3 / 4;
	border-radius: 10px;
	flex-direction: column;
	justify-content: start;
	border: solid 1px #ffa500;
	background-color: #909090;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.author {
	width: 100%;
	padding: 10px;
	display: flex;
	text-align: center;
	border-radius: 10px;
	align-items: center;
	margin: 0 0 10px 0;
	flex-direction: column;
	border: 1px solid black;
	background-color: #e0e0e0;
}

.author:hover {
	border: 1px solid #ffa500;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.author > img {
	border-radius: 10px;
	border: solid 1px #ffa500;
}

.author > h2 {
	font-family: fantasy;
}

/*.author > p {
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}*/

.author-ref > a {
	color: #181818;
	text-decoration: none;
}

.author-ref > a:hover {
	color: #ffa500;
	text-shadow: 1px 1px 2px black, 0 0 1em #ffa500;
}

.author-ref > a:active {
	color: #ffa500;
	text-shadow: 1px 1px 2px black, 0 0 0;
}

.author-icons {
	flex-direction: row;
	width: 100%;
	padding: 10px;
	display: flex;
	border-radius: 10px;
	margin: 10px 0 10px 0;
	border: 1px solid black;
	background-color: #e0e0e0;
	justify-content: space-around;
}

.author-icons:hover {
	border: 1px solid #ffa500;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.subscribe {
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0 10px 0;
	border: 1px solid black;
	background-color: #e0e0e0;
}

.subscribe:hover {
	border: 1px solid #ffa500;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.subscribe-form > input[type=text], .subscribe-form > input[type=submit] {
	margin: 5px;
    width: 95%;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
}

.subscribe-form > input[type=submit] {
	outline: none;
	color: #181818;
	font-size: 16px;
	font-weight: 600;
    background-color: #ffa500;
}

.search {
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0 10px 0;
	border: 1px solid black;
	background-color: #e0e0e0;
}

.search-form > input[type=text] {
	width: 80%;
	margin: 5px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
}

.search:hover {
	border: 1px solid #ffa500;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.search-form > button {
	width: 40px;
	height: 40px;
}

.tags {
	width: 100%;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	margin: 10px 0 10px 0;
	border: 1px solid black;
	background-color: #e0e0e0;
}

.tags:hover {
	border: 1px solid #ffa500;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tags > a {
	padding: 5px;
	color: #909090;
	white-space: nowrap;
	text-decoration: none;
}

.tags > a:hover {
	color: #ffa500;
	text-shadow: 1px 1px 2px black, 0 0 1em #ffa500;
}

.tags > a:active {
	color: #ffa500;
	text-shadow: 1px 1px 2px black, 0 0 0;
}

.comments {
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0 10px 0;
	border: 1px solid black;
	background-color: #e0e0e0;
}

.comments:hover {
	border: 1px solid #ffa500;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.comment-card {
	width: 100%;
	padding: 5px;
	display: flex;
	justify-content: start;
}

.comment-photo {
	width: 70px;
	height: 70px;
	margin-right: 10px;
	border-radius: 50%;
	align-self: center;
	background-image: url('resources/logo/logo.jpg');
}

.comment-1 > .comment-photo {

}

.comment-1 > .comment-content {
	padding: 5px;
	border-left: 2px solid #ccc;
}

.comment-2 > .comment-photo {

}

.comment-2 > .comment-content {
	padding: 5px;
	border-left: 2px solid #ccc;
}

.comment-3 > .comment-photo {

}

.comment-3 > .comment-content {
	padding: 5px;
	border-left: 2px solid #ccc;
}

.comment-content > h4, .comment-content > p {
	margin: 0;
	padding: 0;
}

/* Footer part below: */
.footer {
	padding: 15px;
	display: flex;
	grid-column: 1 / 4;
	border-radius: 10px;
	justify-content: center;
	background-color: #909090;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.foot-wrp {
	text-align: center;
}

.hoverable-text:hover {
	color: #ffa500;
}
